.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
  margin-top: 60px;
  transition: margin-left 0.3s ease-in-out;
  overflow-y: auto;
  height: calc(100vh - 60px);
  display: flex;
}

.main.sidebarOpen {
  margin-left: 250px;
}